name: Checkin 163

on:
  schedule:
    - cron: '35 13 * * *'  # UTC时间14:35（北京时间22:35）
    - cron: '20 16 * * *'  # UTC时间17:20（北京时间晚8小时，1:20）
  workflow_dispatch:  # 允许手动触发 不要用push触发，否则每次修改代码后push都会执行，小心被平台判为机器人

jobs:
  checkin:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install requests

      - name: Run checkin
        env:
          GLADOS_COOKIE: ${{ secrets.GLADOS_COOKIE }}
        run: |
          result=$(python checkin.py)
          echo "result=$result" >> $GITHUB_OUTPUT

      - name: Show result
        run: echo "${{ steps.checkin.outputs.result }}"